@use "../global" as *;

.ad-container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  text-align: center;
  overflow: hidden;

  @media (max-width: 700px) {
    padding: 1.5rem 1.25rem;
  }

  &--compact {
    padding: 1.5rem 2.5rem;
  }
}
